<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				
				{{- if .Site.Params.showIntro -}}
				<section class="intro-section">
					{{- if .Site.Params.introPhoto -}}
					<div class="intro-photo">
						<img src="{{ .Site.Params.introPhoto }}" alt="Profile photo" />
					</div>
					{{- end -}}
					<div class="intro-content">
						{{- if .Site.Params.introTitle -}}
						<h2 class="intro-title">{{ .Site.Params.introTitle | .Page.RenderString }}</h2>
						{{- end -}}
						{{- if .Site.Params.introText -}}
						<p class="intro-text">{{ .Site.Params.introText | .Page.RenderString }}</p>
						{{- end -}}
					</div>
				</section>
				{{- end -}}
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
